.innerwrapper {
    width: 1000px;
    margin: 0px auto;
}

.fleft {
    float: left;
}

.hm-suc-imgbg {
    background: url(//imgs.bharatmatrimony.com/bmimgs/hp-happymarriage-bg.gif) no-repeat;
    width: 405px;
    height: 287px;
    margin-top: 60px;
}

.clear {
    clear: both;
    height: 1px;
    width: 1px;
}
.fright {
    float: right;
}
.paddr10 {
    padding-right: 10px;
}

.innerblock-hdr {
    font-size: 33px;
    font-weight: normal;
    color: #777c82;
    margin: 55px 0px 20px 0px;
    opacity: 0.90;
    filter: alpha(opacity=90);
    line-height: 35px;
}

.happycaption {
    color: #f58220;
    font-family: trebuchet MS,arial;
    font-weight: 700;
    opacity: .95;
    filter: alpha(opacity=95);
    font-size: 37px;
}

.marriagecaption {
    color: #00a651;
    font-family: trebuchet MS,arial;
    font-weight: 700;
    opacity: .95;
    filter: alpha(opacity=95);
    font-size: 37px;
}

.hm-name-caption {
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    color: #777;
    font-family: georgia,arial;
    font-style: italic;
    margin: 20px 0 0;
    opacity: .9;
    filter: alpha(opacity=90);
}

.hm-loc-caption {
    font-size: 16px;
    font-weight: 400;
    color: #777;
    font-family: georgia,arial;
    font-style: italic;
    margin: 13px 0 20px;
    opacity: .9;
    filter: alpha(opacity=90);
}

.hm-caption-txt {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    color: #777;
    margin: 0 0 0px;
    height: 90px;
    opacity: .9;
    filter: alpha(opacity=90);
    line-height: 28px;
}